<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="au.css">
</head>

<body>
  <body style="background-color:#ffdbcb">
  <h1>fall is here</h1>
  <img src="assets/autumn.gif" alt="music gif" class = "center" style="width: 150px;height: 150px;"/>

  <div class="start">
   <h2>you listen a lot</h2>
   <p>the thump of footsteps</p>
   <p>the thrum and hum of a purr</p>
   <p>muffled laughing from the room a wall away</p>
   <p>sometimes listening can be lonely</p>
   <p>and sometimes it's togetherness</p>
    <br>
        
    <button><a href="call.html">take a call</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>