<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="au.css">
</head>

<body>
  <body style="background-color:#ffdbcb">
  <h1>fall is here</h1>
  <img src="assets/autumn.gif" alt="music gif" class = "center" style="width: 150px;height: 150px;"/>

  <div class="start">
   <h2>the leaves change to honey, the leaves change to gold</h2>
   <p>you feel older</p>
   <p>your firsts have come and gone</p>
   <p>but you're content to sit and breathe in the breeze</p>
   <p>after years of effort, and bitterness</p>
   <p>you finally get to taste the sweetness of honey</p>
        
    <button><a href="winter.html">watch the winter sunset</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>