<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="bats.css">
</head>

<body>
  <body style="background-color:#e4cff8">
    <div class="page-container">

  <h1>your vengeful spell worked</h1>
  <img src="assets/bats.gif" alt="bats" class = "center" style="width:210px;height: 190px;"/>

  <div class="start">
   <h2>bats antagonize those who have wronged you</h2>
    <p>but only a little bit</p>
    <p>you're interested in your satisfaction, not their suffering</p>
    <p>once they are slightly inconvenienced, you leave them alone</p>
    <button><a href="collect.html">be content with your vengence</a></button>
  </div>
  </div>
  <script src="scripts.js"></script>
</body>

</html>