<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="bite.css">
</head>

<body>
  <body style="background-color:#ffdbcb">
  <h1>biting that plant hurt</h1>
  <img src="assets/plantbutter.gif" alt="plant gif" class = "center" style="width: 160px;height: 150px;"/>

  <div class="start">
   <h2>let's try biting this one!</h2>
   <p>you get distracted by the butterfly</p>
   <p>sometimes beauty can take you from pain</p>
   <p>watching it float away reminds you you can too</p>
   <p>but it kinda makes you wanna hunt the butterfly</p>
   <p>you are a cat after all...</p>
        
    <button><a href="hunt.html">hunt</a></button>
    <button><a href="movie.html">watch a movie</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>