<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="book.css">
</head>

<body>
  <body style="background-color:#4A5354">
  <h1>you go to the book store</h1>
  <img src="assets/bookstore.webp" alt="laundry gif" class = "center" style="width: 250px;height: 220px;"/>

  <div class="start">
   <h2>you see people reading</h2>
   <p>you wonder what that would be like</p>
    <p>because you are illterate</p>
    <p>you kinda just go to this place for vibes lol</p>
    <button><a href="collect.html">finish this story</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>