<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="bush.css">
</head>

<body>
  <body style="background-color:#cee5d2">
  <h1>you are a child of spring</h1>
  <img src="assets/bush.gif" alt="cat playing gif" class = "center" style="width:230px;height: 180px;"/>

  <div class="start">
   <h2>you get older in autumn</h2>
   <p>but with all of your life</p>
   <p>you only bring more life with you</p>
   <p>living in flower and vine</p>
    <button><a href="luv.html">bees</a></button>
    <button><a href="bush.html">reflect on your life as a cat</a></button>
  </div>
  <script src="scripts.js"></script>
</body>

</html>