<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>yum</title>
  <link rel="stylesheet" href="cake.css">
</head>

<body>
  <body style="background-color:#ffe6e6">
  <h1>this looks a lot better</h1>
  <img src="assets/strawberry.gif" alt="strawberry gif" class = "center" style="width: 200px;height: 190px;"/>

  <div class="start">
   <h2>you've always had a sweet tooth</h2>
   <p>and there's nothing like fresh strawberries</p>
   <p>you take a bite</p>
        
    <button><a href="sun.html">enjoy</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>