<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="cards.css">
</head>

<body>
  <body style="background-color:#28ADFF">
  <h1>you play cards</h1>
  <img src="assets/cards.gif" alt="card gif" class = "center" style="width: 250px;height: 200px;"/>

  <div class="start">
   <h2>you take a big risk at the table</h2>
   <p>you make your best poker face</p>
   <p>and hope you don't give too much away</p>
   <p>you don't know if people can't see past your mask, or if you wear your heart on your sleeve</p>
   <p>and also, you don't know how to play poker</p>

    <button><a href="money.html">win big</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>