<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="carnival.css">
</head>

<body>
  <body style="background-color:#d4fffe">
  <h1>you try something new, the carnival</h1>
  <img src="assets/carnival.gif" alt="waterfall gif" class = "center" style="width: 120px;height: 160px;"/>

  <div class="start">
   <h2>it's a dizzying combination</h2>
   <p>whimsy and capriciousness</p>
   <p>you see clownery, tomfoolery, and excess in all forms</p>
   <p>the chaos makes you want to give into impulse</p>

        
    <button><a href="fire.html">play with fire</a></button>
    <button><a href="control.html">focus on control</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>