<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="city.css">
</head>

<body>
  <body style="background-color:#57bebe">
  <h1>you missed your friend</h1>
  <img src="assets/city.gif" alt="music gif" class = "center" style="width: 240px;height: 200px;"/>

  <div class="start">
   <h2>so, you go and visit them</h2>
   <p>the city is a beautiful collection</p>
   <p>of art and sky and electricity</p>
   <p>a collage of movement and noise</p>
   <p>you're so happy to see your friend, but you miss the stars</p>

        
  <button><a href="star.html">see the stars</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>