<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="coffee.css">
</head>

<body>
  <body style="background-color:#fff0d6">
  <h1>you have some coffee</h1>
  <img src="assets/coffee.gif" alt="coffee gif" class = "center" style="width:190px;height: 200px;"/>

  <div class="start">
   <h2>you add two lumps of sugar</h2>
   <p>and lots of cream</p>
   <p>you finish stirring and hold the warm cup in your cold hands</p>
   <p>you wish you could have your coffee black as ink</p>
   <p>but you can't help but indulge your sweet tooth</p>

        
    <button><a href="soda.html">drink something water based</a></button>
    <button><a href="cake2.html">have some cake with your coffee</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>