<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="collect.css">
</head>

<body>
  <body style="background-color:#35465e">
  <h1>congratulations on finishing the game</h1>
  <img src="assets/fireworks.gif" alt="music gif" class = "center" style="width: 250px;height: 240px;"/>

  <div class="start">
   <h2>collect your prize for playing!</h2>
   <p>thank you</p>
   <p>it means a lot to me</p> 
   <p>ପ(๑•ᴗ•๑)ଓ</p>

  <button><a href="end.html">collect!</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>