<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="control.css">
</head>

<body>
  <body style="background-color:#aed7f4">
  <h1>you worry about control</h1>
  <img src="assets/bell.gif" alt="cat playing gif" class = "center" style="width:140px;height: 160px;"/>

  <div class="start">
   <h2>it's a kind of stubborness</h2>
   <p>but you know that the reeds that bend survive the floods</p>
   <p>and what stands upright</p>
   <p>washes away</p>
        
    <button><a href="bend.html">bend</a></button>
  </div>
  <script src="scripts.js"></script>
</body>

</html>