<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="credits.css">
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background-color: pink;
      min-height: 100%;
    }
  </style>
</head>
<body>
  <div class="center">

<h1>hi cats! i'm meera</h1>
<br>
<img src="assets/me.jpg" alt="me" class = "center" style="width: 175px;height: 200px;"/>
<br>
<p><i>first off</i></p> 
<p>i just want to thank you for playing my game!!! i really appreciate any time you've taken out of your day to interact with something i've made</p><br>

<p>≽^•⩊•^≼</p>

<br>
<p><i>second off</i></p>
<p>i'd like to say that i did not make any of the art used in this game, and just collected stuff from really talented artists on tumblr (yes, i'm still on tumblr) and pinterest</p>
<p>you can check some of them out here:</p>
<div class="center-links">
  <ul>
    <li><a href="https://www.tumblr.com/mini-moss" target="_blank">mini-moss</a></li>
    <li><a href="https://www.tumblr.com/mejwh" target="_blank">mejwh</a></li>
    <li><a href="https://www.tumblr.com/pixelins" target="_blank">pixelins</a></li>
  </ul>
</div>

<p>≽^•⩊•^≼</p>

<br>
<p><i>third off (this is the longest off)</i></p>
<p>this game has been a huge reprieve for me. during school and other stressful periods of life, it gave me a low stakes way of being creative</p>
<p>it let me engage with art, and most importantly it let me feel like a writer</p>
<p>albeit most of it just silly one-offs, it was a place to explore my head and be in a comforting space</p>
<p>so it means a lot that you moved around in this intimate space, that at first belonged to just me!</p>
<p>i hope you all have your own low stakes ways of being creative, and i would love if you'd share them with me too!</p>
<br>
<p>≽^•⩊•^≼</p>

<br>
<p><i>fourth off</i></p>
<p>a big thank you to my friend naomi, who helped me edit this (sorry for how much i like to use possessives)</p>
<p>you can check out some of her work here: <a href="https://naomilr.art/">naomilr.art</a></p>
<p>everything i make will always be a fishcat labz production (•˕ •マ.ᐟ</p>
<br>
<br>
<button><a href="index.html">be reborn</a></button>
<br>
<br>
</div>

</body>


