<p>hi cats, i'm meera</p>
<p>first off, i just want to thank you for playing my game!!! i really appreciate any time you've taken out of your day to interact with something i've made</p>
<p>second off, i'd like to say that i did not make any of the art used in this game, and just collected stuff from really talented artists on tumblr (yes, i'm still on tumblr) and pinterest</p>
<p>you can check some of them out here:</p>
<li>https://www.tumblr.com/mini-moss</li>
<li>https://www.tumblr.com/mejwh</li>
<li>https://www.tumblr.com/pixelins</li>
<p>third off (this is the longest off)</p>
<p>this game has been a huge reprieve for me. during school and other stressful periods of life, it gave me a low stakes way of being creative</p>
<p>it let me engage with art, and most importantly it let me feel like a writer</p>
<p>albeit most of it just silly one offs, it was a place to explore my head and be in a comforting space</p>
<p>so it means a lot that you moved around in this intimate space that at first belonged to just me!</p>

<p>fourth off</p>
<p>a big thank you to my friend naomi, who helped me edit this (sorry for how much i like to use possessives)</p>
<p>everything i make will always be a fishcat labz production ;)</p>

