h1 {
  text-align: center;
  color:#a45f37;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 130px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color:#a45f37;
}

p {
  text-align: center;
  /* color:#ffae00; */
  color:#ff3fbc;

  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  margin:auto;
  display:block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color:rgb(255, 255, 255);
  /* border: 2px solid rgb(164, 202, 220); */
  border: 2px solid #a45f37;
  border-radius: 5px;
  padding-block: 2px;
  padding-inline: 5px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color:rgb(255, 134, 68);
}