<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="dango.css">
</head>

<body>
  <body style="background-color:#ffedc3">
  <h1>you give him some dango instead</h1>
  <img src="assets/mochi.gif" alt="heart gif" class = "center" style="width: 180px;height: 185px;"/>

  <div class="start">
   <h2>he takes it, and makes a run for it</h2>
    <p>you probably should have just given him what he wanted</p>
    <p>none of your wishes come true</p>
    <p>but you feel pretty okay with that</p>
    <button><a href="collect.html">¯\_(ツ)_/¯
      <p></p>
    </a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>