<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="die.css">
</head>

<body>
  <body style="background-color:#3F335B">
  <h1>you die ꃋᴖꃋ</h1>
  <img src="assets/heart.gif" alt="heart gif" class = "center" style="width: 270px;height: 185px;"/>

  <div class="start">
   <h2>you refuse medical treatment</h2>
   <p>you wanted to go on your own terms, avoiding citrus</p>
   <p>you feel the rhythm of your heart slow</p>
   <p>you lived a beautiful life, one without fruits of the rutaceae family</p>
   <p>you see a white light</p>

    <button><a href="collect.html">go to the white light</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>