<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="do.css">
</head>

<body>
  <body style="background-color:#8ecdbd">
  <h1>let's do</h1>
  <img src="assets/comp.gif" alt="waterfall gif" class = "center" style="width: 220px;height: 190px;"/>

  <div class="start">
   <h2>the world cleaves forward</h2>
   <p>as we go through, endlessly efficient</p>
   <p>carving up free time<p>
   <p>when do we see all that we work for?</p>

        
    <button><a href="flowers.html">purpose</a></button>
    <button><a href="fish.html">swim and sleep (like a shark)</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>