<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="donut.css">
</head>

<body>
  <body style="background-color:#634e94">
  <h1>that hit the spot</h1>
  <img src="assets/donut.gif" alt="heart gif" class = "center" style="width: 180px;height: 185px;"/>

  <div class="start">
   <h2>you love fried dough in all its forms</h2>
    <p>now that all of your wishes have been granted</p>
    <p>you have nothing to left to want</p>
    <p>oh, but a coffee sounds good right about now</p>
    <button><a href="collect.html">all joy is ephemeral</a></button>
    <button><a href="coffee.html">have a coffee</a></button>




  </div>
  <script src="scripts.js"></script>
</body>

</html>