<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="dream.css">
</head>

<body>
  <body style="background-color:#fffcd0">
  <h1>it took forever to fall asleep</h1>
  <img src="assets/cindy.gif" alt="tiger gif" class = "center" style="width: 170px;height: 170px;"/>

  <div class="start">
   <h2>but now you're having a lovely dream</h2>
   <p>oh my god why did you decide to take that</p>
   <p>well, at least you fell asleep</p>
    <button><a href="dream.html">think about rest</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>