<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="eat.css">
</head>

<body>
  <body style="background-color:#DCB4B4">
  <h1>it's time for a snack</h1>
  <img src="assets/rat.gif" alt="waterfall gif" class = "center" style="width: 230px;height: 130px;"/>

  <div class="start">
   <h2>a mouse, really?</h2>
   <p>that's a little too on the nose</p>
   <p>how about something sweet, instead?</p>

        
    <button><a href="cake.html">eat something else</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>