<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="egypt.css">
</head>

<body>
  <body style="background-color:#653019">
  <h1>you're in egypt</h1>
  <img src="assets/egypt.gif" alt="movie gif" class = "center" style="width: 390px;height: 170px;"/>

  <div class="start">
   <h2>you read the writing on the walls</h2>
   <p>𓇋𓋴 𓏏𓉔𓇋𓋴 𓂋𓅂𓄿𓃭𓃭𓇌 𓅃𓉔𓄿𓏏 𓉔𓇋𓅂𓂋𓅱𓎼𓃭𓇌𓊪𓉔𓇋𓎢𓋴 </p>
   <p> 𓅃𓅂𓂋𓅂 𓅃𓂋𓇋𓏏𓏏𓅂𓈖 𓇋𓈖𓃇 𓋴𓅂𓅂𓅓𓋴 𓄿 𓃭𓇋𓏏𓏏𓃭𓅂 𓆑𓄿𓈎𓅂</p>
   <p>𓅱𓉔 𓅃𓅂𓃭𓃭</p>

        
    <button><a href="space2.html">travel someplace new</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>