<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="end.css">
</head>

<body>
  <body style="background-color:#fff8a7">
    <h1>♡ Here is your prize ♡</h1>
    <img src="assets/end.gif" alt="music gif" class = "center" style="width: 240px;height: 160px;"/>

  <div class="start">
   <h2>I hope you enjoyed your life as a cat!</h2>
   <p>but, it doesn't have to be over</p> 
   <p>cats live nine lives after all...</p>
<br>
  <button><a href="index.html">be reborn</a></button>
  <button><a href="read.html">credits & meera's musings</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>