<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="fire.css">
</head>

<body>
  <body style="background-color:rgb(34, 32, 52)">
  <h1>you build a fire</h1>
  <img src="assets/fire.gif" alt="fire gif" class = "center" style="width: 160px;height: 185px;"/>

  <div class="start">
   <h2>the smoke drifts up</h2>
   <p>it burns your eyes</p>
   <p></p>


        
    <button><a href="cards.html">play cards</a></button>
    <button><a href="scurvy.html">get scurvy</a></button>




  </div>
  <script src="scripts.js"></script>
</body>

</html>