h1 {
  text-align: center;
  color:rgb(0, 128, 115);
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 130px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color:rgb(0, 128, 115);
}

p {
  text-align: center;
  color:rgb(73, 72, 62);
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  margin:auto;
  display:block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #ffffff;
  border: 2px solid #D3B688;
  border-radius: 5px;
  padding-block: 2px;
  padding-inline: 5px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color:#8E6A47;
}