h1 {
  text-align: center;
  color:#7E618D;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 130px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color:#7E618D;

}

p {
  text-align: center;
  color:#437367;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  margin:auto;
  display:block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color:rgb(255, 255, 255);
  border: 2px solid #CC6345;

  border-radius: 5px;
  padding-block: 2px;
  padding-inline: 5px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color:#CC6345;

}