<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <body style="background-color:#fff8fe">
  <h1>hi</h1>
  <img src="assets/kitty-cat.gif" alt="cat playing gif" class = "center" style="width:150px;height: 150px;"/>

  <div class="start">
   <h2>let's do some stuff</h2>
   <p> you are a fish</p>
    
   <p>wait what-</p>
   <p>i thought we were-</p>

        
    <button><a href="fish2.html">a cat?</a></button>
    <button><a href="fish3.html">do some fish stuff</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>