<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="fish3.css">
</head>

<body>
  <body style="background-color: #E9F1EE">
  <h1>You stare face to face with the unknown</h1>
  <img src="assets/fish3.gif" alt="music gif" class = "center" style="width: 170px;height: 200px;"/>

  <div class="start">
   <h2>It eyes you back</h2>
   <p>sometimes the future scares you, fear of what tommorrow may bring consumes you</p>
   <p>but today you realize that tomorrow never truly arrives</p>
   <p>you will live a thousand todays</p>
   <p>and you can only hope they're all as lovely as this one</p>
        
    <button><a href="meow.html">spend your days as a cat (again)</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>