<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="flowers.css">
</head>

<body>
  <body style="background-color:#ddfff0">
  <h1>that's better</h1>
  <img src="assets/movflowers.gif" alt="flowers gif" class = "center" style="width: 220px;height: 150px;"/>

  <div class="start">
   <h2>can cats drink tea?</h2>
   <p>stop asking questions</p>
   <p>wait why aren't the flowers moving?</p>

        
    <button><a href="flowers.html">fix that</a></button>
    <button><a href="fish.html">why is this in second person?</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>