<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="flowers.css">
</head>

<body>
  <body style="background-color:#fffeec">
  <h1>that's better</h1>
  <img src="assets/movflowers.gif" alt="flowers gif" class = "center" style="width: 220px;height: 150px;"/>

  <div class="start">
   <h2>you watch the flowers sway</h2>
   <p>and surrender yourself to the grass</p>
   <p>thinking of nothing but the sun's gentle brush</p>
   <p>and the push and pull of the wind</p>
        
    <button><a href="sun.html">enjoy</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>