<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="fountain.css">
</head>

<body>
  <body style="background-color:#57bebe">

  <h1>you're looking at the fountain</h1>
  <img src="assets/fountain.gif" alt="music gif" class = "center" style="width: 230px;height: 190px;"/>

  <div class="start">
   <h2>in the city park</h2>
   <p>you think about your relationship to the city</p>
   <p>sometimes it sees you when no one does</p>
   <p>and somedays it leaves you yelling at the birds</p>
   <p>you love it all the same</p>

        
  <button><a href="hunt.html">look at the birds by the fountain</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>