<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="gain.css">
</head>

<body>
  <body style="background-color:#fff8fe">
  <h1>what do you gain from doing things</h1>
  <img src="assets/panda.gif" alt="cat playing gif" class = "center" style="width:190px;height: 170px;"/>

  <div class="start">
   <h2>what is worth doing</h2>
   <p> is it only worth doing things you 'gain' from</p>
    
   <p>is your ultimate objective productivity, pleasure?</p>
   <p>maybe sometimes you just, do</p>
    <button><a href="do.html">do</a></button>
    <button><a href="dont.html">don't</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>