<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="grow.css">
</head>

<body>
  <body style="background-color:#daf4ff">
  <h1>here you grow</h1>
  <img src="assets/seedling.gif" alt="cat playing gif" class = "center" style="width:190px;height: 170px;"/>

  <div class="start">
   <h2>from kitten to cat</h2>
   <p>you get by with a little help from your friends</p>
   <p>nature needs its nurture</p>
   <p>raised from the cradle of care, you are the result of a lifetime of love</p>
    <button><a href="bush.html">look at some flowers</a></button>
    <button><a href="fountain.html">look at a fountain</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>