<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="hotair.css">
</head>

<body>
  <body style="background-color:#cff1f8">
    <div class="page-container">

  <h1>as you float above the clouds</h1>
  <img src="assets/hotairballoon.webp" alt="hot air balloon" class = "center" style="width:210px;height: 190px;"/>

  <div class="start">
   <h2>you wonder what takes you further</h2>
   <p>curiosity or ambition</p>
    <p>sometimes exploration gives you more than striving</p>
    <p>you reach out to the sky</p>
    <p>you've always known who you are and what you wanted</p>
    <button><a href="collect.html">the sun strikes you through the clouds</a></button>
  </div>
  </div>
  <script src="scripts.js"></script>
</body>

</html>