<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="hunt.css">
</head>

<body>
  <body style="background-color: rgb(247, 242, 223)">
  <h1>the birds tempt you</h1>
  <img src="assets/birds.gif" alt="flowers gif" class = "center" style="width: 220px;height: 200px;"/>

  <div class="start">
   <h2>you give into anger</h2>
   <p>you wonder if the catharsis is worth it</p>
   <p>or is anger corrosive, does it burn you up from the inside?</p>
   <p>does anger beget anger? or does feeling it offer freedom?</p>
        
    <button><a href="sport.html">play a sport</a></button>
    <button><a href="carnival.html">go to the carnival</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>