<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="id.css">
</head>

<body>
  <body style="background-color:#d5e6ff">
  <h1>sometimes memory is who you are</h1>
  <img src="assets/fan.gif" alt="fan gif" class = "center" style="width: 120px;height: 180px;"/>

  <div class="start">
    <h2>the nights where you laid in the summer heat</h2>
    <p>in the room where your mom once laid</p>
    <p>watching the fan spin round and round</p>
    <p>knowing where you come from, knowing where to go</p>

    <button><a href="collect.html">"yes, yes, that's what I wanted, I always wanted, I always wanted, to return to the body where I was born."    </a></button>
    <button><a href="collect.html">- Allen Ginsberg</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>