<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="inside.css">
</head>

<body>
  <body style="background-color:#d3ffe3">
  <h1>you're inside</h1>
  <img src="assets/bottle.gif" alt="music gif" class = "center" style="width: 160px;height: 170px;"/>

  <div class="start">
   <h2>you live life inside a bubble you blew</h2>
   <p>you occupy yourself with your dreams</p>
   <p>fantasies you spell out to yourself</p>
   <p>but no matter how grand your imagination is</p>
   <p>nothing is more fantastic than your reality</p>
        
    <button><a href="nap.html">take a cat nap</a></button>
    <button><a href="coffee.html">drink some coffee</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>