<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="fish2.css">
</head>

<body>
  <body style="background-color:#f1dcff">
  <h1>DO THIS PAGE</h1>
  <img src="assets/fish2.gif" alt="music gif" class = "center" style="width: 150px;height: 170px;"/>

  <div class="start">
   <h2>as you explore your world</h2>
   <p>you look outside your glass</p>
   <p>some days you need the safety of the known</p>
   <p>and somedays the blurry novelty beyond the glass beckons</p>
        
    <button><a href="stay.html">hang out</a></button>
    <button><a href="novel.html">chase novelty</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>