<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>let's get into it</title>
  <link rel="icon" type="image/x-icon" href="assets/cd-modified.png">
  <link rel="stylesheet" href="jar.css">
</head>


<div class="start">
  <h1>let's do some stuff</h1>
  <img src="assets/jars.gif" alt="jar gif" class = "center" style="width:155px; height: 93px;"/>

  <p> you are a cat</p>
   
  <p>make progress with the buttons, or don't</p>
       
  <p>made by <strong>calculatorgum</strong> </p>

   <button><a href="music.html">let's go</a></button>
 </div>
 <script src="scripts.js"></script>

</html>