<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="laundry.css">
</head>

<body>
  <body style="background-color:#46425E">
  <h1>you go to the laundromat</h1>
  <img src="assets/l.webp" alt="laundry gif" class = "center" style="width: 230px;height: 195px;"/>

  <div class="start">
   <h2>you watch the clothes circle</h2>
   <p>you love the dailiness of laundry</p>
   <p>you image clothes pinned to the line, flapping with the wind</p>
   <p>but that would actually require a lot of work</p>
    <p>which is why yr at the laundromat</p>

    <button><a href="book.html">go to the book store</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>