<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="make.css">
</head>

<body>
  <body style="background-color:#ffeac5">
  <h1>you're producing a song</h1>
  <img src="assets/musicmake2.gif" alt="flowers gif" class = "center" style="width: 220px;height: 150px;"/>

  <div class="start">
   <h2>you love the results</h2>
   <p>but more than you love the process</p>
   <p>you want to create more than you consume</p>
   <p>but how can you make without destoying first? </p>
        
    <button><a href="mixtape.html">send your mixtape out</a></button>
    <button><a href="yin.html">consider the balance of the world</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>