<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="dont.css">
</head>

<body>
  <body style="background-color:#fffcc1">
  <h1>you're putting on makeup</h1>
  <img src="assets/lipstick.gif" alt="cat playing gif" class = "center" style="width:160px;height: 160px;"/>

  <div class="start">
   <h2>what seperates you from air?</h2>
   <p>what is the difference between breath and skin?</p>
   <p>you are never alone</p>
   <p>the world always exists and grows within you</p>
        
    <button><a href="grow.html">grow with it</a></button>
  </div>
  <script src="scripts.js"></script>
</body>

</html>