<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="makeup.css">
</head>

<body>
  <body style="background-color:#fffcc1">
  <h1>you're getting ready to go out</h1>
  <img src="assets/lipstick.gif" alt="cat playing gif" class = "center" style="width:160px;height: 160px;"/>

  <div class="start">
   <h2>and you're putting on makeup </h2>
   <p>you're in your apartment</p>
   <p>your friends are playing 2000 pop hits, ruffling through their makeup bags,</p>
   <p>and trying to swap clothes</p>
   <p>you're all going to club cat-fe</p>
        
    <button><a href="plane.html">take a flight with your friends</a></button>
    <button><a href="umbrella.html">the rain washes your makeup off</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>