<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="mixtape.css">
</head>

<body>
  <body style="background-color:#cbd6ff">
  <h1>the world loves your mixtape</h1>
  <img src="assets/mix.gif" alt="music gif" class = "center" style="width: 220px;height: 190px;"/>

  <div class="start">
   <h2>fame and fortune enter your life</h2>
   <p>you live a life filled with dazzling parties,</p>
   <p>hedonistic pursuits, unimaginable wealth,</p>
   <p>yet, you feel so empty...</p>
        
    <button><a href="yin.html">seek enlightenment</a></button>
    <button><a href="purpose.html">find purpose</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>