<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="movie2.css">
</head>

<body>
  <body style="background-color:#c8d7a1">
  <h1>it's a movie marathon</h1>
  <img src="assets/movie2.gif" alt="movie gif" class = "center" style="width: 160px;height: 160px;"/>

  <div class="start">
   <h2>you watch another one</h2>
   <p>this one about childhood</p>
  <p>you think about your mom, singing to you</p>
  <p>soft lullabies of moons and trains, and your dad</p>
  <p>taking you as you bob and weave through crowds</p>
  <p>into the city to see a movie</p>
        
    <button><a href="collect.html">you hear their voices, and everything seems okay with the world after that</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>