h1 {
  text-align: center;
  color: #5B7B97;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 140px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #5B7B97;
}

p {
  text-align: center;
  color: #AFA3A9;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  margin:auto;
  display:block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color:rgb(255, 255, 255);
  border: 2px solid #fee79b;
  border-radius: 5px;
  padding-block: 2px;
  padding-inline: 5px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color:#799D3F;


}