<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>let's get into it</title>
  <link rel="stylesheet" href="music.css">
</head>


<body>
  <body style="background-color:hsl(46, 100%, 94%)">
    <h1>here's some stuff i listen to (thanks spotify api) </h1>
    <img src="assets/spotify.png" alt="pixel music player"style="width:200px;height: 200px;"/>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0StpxLOAa4jSlPNnrVGpp8?utm_source=generator" width="50%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</body>

</html>