<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="music.css">
</head>

<body>
  <body style="background-color:#ffe5cb">
  <h1>you're listening to some music</h1>
  <img src="assets/music.gif" alt="music gif" class = "center" style="width: 150px;height: 170px;"/>

  <div class="start">
   <h2>and you hear a lot</h2>
   <p>the </p>
   <p>you begin to fall asleep</p>
   <p>listening to the rolling of the waves</p>


        
    <button><a href="">listen to music</a></button>
    <button><a href="">go inside</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>