<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>let's get into it</title>
  <link rel="icon" type="image/x-icon" href="assets/cd-modified.png">
  <link rel="stylesheet" href="music.css">
</head>


<body>
  <body style="background-color:hsl(46, 100%, 94%)">
    <h1>here's some stuff i listen to (thanks spotify embed) </h1>

    <table>
      <td colspan="4" class="spotify">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0StpxLOAa4jSlPNnrVGpp8?utm_source=generator" width="35%" height="650" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </td>
      <td colspan="6" class="img">
        <img src="assets/spotify.png" alt="pixel music player"style="width:300px;height: 300px;"/>
      </td>

    </table>
</body>

</html>