<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="nap.css">
</head>

<body>
  <body style="background-color:#4AC6F7">
  <h1>you count sheep to go to sleep</h1>
  <img src="assets/sleep.gif" alt="sheep gif" class = "center" style="width: 190px;height: 160px;"/>

  <div class="start">
   <h2>one sheep, two sheep...</h2>
   <p>but you keep getting distracted</p>
   <p>and now you can't sleep!</p>
    <p>this leaves you with two real options:</p>
    <button><a href="dream.html">wait till you doze off to sleep peacefully</a></button>
    <button><a href="nightmare.html">have melatonin-fueled night terrors</a></button>




  </div>
  <script src="scripts.js"></script>
</body>

</html>