<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="negative.css">
</head>

<body>
  <body style="background-color:#ebe9ec">
  <h1>you may not always show it, but</h1>
  <img src="assets/waterfall.gif" alt="cake gif" class = "center" style="width:216px;height: 140px;"/>

  <div class="start">
   <h2>you're scared of a lot</h2>
   <p>so you hate a lot</p>
   <p>hate exists beyond simple definitions</p>
   <p>but is it fair to equate hate and fear?</p>

        
    <button><a href="justice.html">that definition doesn't do hate justice</a></button>
    <button><a href="water.html">water is scary</a></button>
    <button><a href="drink.html">drink something</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>