<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="nightmare.css">
</head>

<body>
  <body style="background-color:#890E31">
  <h1>you took a melatonin</h1>
  <img src="assets/dream.webp" alt="tiger gif" class = "center" style="width: 230px;height: 190px;"/>

  <div class="start">
   <h2>you're seeing horrors beyond the comprehension of man or cat</h2>
   <p>oh my god, why did you take that</p>
   <p>well, at least you fell asleep</p>
    <button><a href="night2.html">oh no, not another one</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>