<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="night2.css">
</head>

<body>
  <body style="background-color:#c3a5db">
  <h1>here comes another one</h1>
  <img src="assets/night2.gif" alt="cat gif" class = "center" style="width: 160px;height: 150px;"/>

  <div class="start">
   <h2>eeeeeeeeeeeeek</h2>
   <p>what's with the persisting terrors of cats with weird eyes?</p>
    <button><a href="rest.html">wake up</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>