<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="picnic.css">
</head>

<body>
  <body style="background-color:#F1D5FF">
  <h1>summer flits by faster</h1>
  <img src="assets/picnic.webp" alt="ferriswheel gif" class = "center" style="width: 170px;height: 170px;"/>

  <div class="start">
    <h2>than pages of a book strumming against your fingers</h2>
    <p>you try to slow down time, picnic and sit with it</p>
    <p>try to create stillness as you rest upon gingham</p>
    <p>time moves faster than you ever can catch up with</p>
    <p>and the only real stillness is in memory</p>
        
    <button><a href="wreath.html">memory as absence</a></button>
    <button><a href="picnic.html">memory as identity</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>