<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="pill.css">
</head>

<body>
  <body style="background-color: rgb(255, 201, 201); ">
  <h1>you take the doctors orders
  </h1>
  <img src="assets/pill.gif" alt="pill gif" class = "center" style="width: 175px;height: 175px;"/>

  <div class="start">
   <h2>you begin your healing journey</h2>
   <p>you're drinking inordinate amounts of orange juice</p>
   <p>taking care of yourself seems like an unrelenting list of tasks</p>
   <p>you begin to feel better, though</p>
    <button><a href="soup.html">have some soup</a></button>
    <button><a href="laundry.html">do laundry</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>