<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="planet.css">
</head>

<body>
  <body style="background-color:#e8c7ff">
  <h1>space is cool</h1>
  <img src="assets/planet.gif" alt="music gif" class = "center" style="width: 240px;height: 200px;"/>

  <div class="start">
   <h2>not your thing though</h2>
   <p>you wonder what makes light so special</p>
   <p>you go back to earth</p> 

  <button><a href="end.html">finish your journey</a></button>




  </div>
  <script src="scripts.js"></script>
</body>

</html>