<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="positive.css">
</head>

<body>
  <body style="background-color:#ffeed5">
  <h1>you may not always show it, but</h1>
  <img src="assets/heartcake.gif" alt="cake gif" class = "center" style="width:180px;height: 180px;"/>

  <div class="start">
   <h2>you always pay attention</h2>
   <p>and how do you distinguish between love and attention</p>
   <p>care exists beyond simple definitions</p>
   <p>well, that's enough musing</p>

        
    <button><a href="eat.html">eat something</a></button>
    <button><a href="drink.html">drink something</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>