<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="q.css">
</head>

<body>
  <body style="background-color:#F6A4B0">
  <h1>you question everything</h1>
  <img src="assets/q.gif" alt="question gif" class = "center" style="width: 160px;height: 170px;"/>

  <div class="start">
   <h2>you've had the highest highs and lowest lows</h2>
    <p>your life has been unpredictable</p>
    <p>you have so many questions about what happened to you and why</p>
    <p>and whether the paths you chose were right for you</p>
    <p>but the only life you know is this one</p>
    <p>and you're happy with it</p>
    <p>so, maybe you're okay with not having all your questions answered</p>
    <button><a href="collect.html">you're satisfied with your path</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>