<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="rainbow.css">
</head>

<body>
  <body style="background-color:#d4fffe">
  <h1>rainbow FINISH THIS PAGE</h1>
  <img src="assets/rainbow.gif" alt="waterfall gif" class = "center" style="width: 190px;height: 130px;"/>

  <div class="start">
   <h2>it's a dizzying combination</h2>
   <p>whimsy and </p>
   <p>the harsh pitter patter against your fur</p>
   <p>you live in the discomfort for a short moment</p>
   <p>moment over.</p>

        
    <button><a href="collect.css">go to the end of the rainbow</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>