<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="reflect.css">
</head>

<body>
  <body style="background-color:#ced1e5">
  <h1>you give yourself a long hard look in the mirror</h1>
  <img src="assets/reflect.gif" alt="mirror gif" class = "center" style="width:160px;height: 180px;"/>

  <div class="start">
   <h2>you love what you see</h2>
   <p> </p>
   <p>  </p>
   <p>  </p>

    <button><a href="collect.html">conclude</a></button>
  </div>
  <script src="scripts.js"></script>
</body>

</html>