<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="roses.css">
</head>

<body>
  <body style="background-color:#F8CBD6">
  <h1>you go on the ferris wheel</h1>
  <img src="assets/rose2.webp" alt="roses" class = "center" style="width: 170px;height: 170px;"/>

  <div class="start">
    <h2>it feels like a dream you once had</h2>
    <p>as you float higher into the sky</p>
    <p>you feel like you can't tell your dreams from reality anymore</p>
    <p>and maybe there's no point searching for the line between them</p>
        
    <button><a href="picnic.html">have a picnic</a></button>
    <button><a href="hotair.html">float even higher into the sky</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>