<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="shell.css">
</head>

<body>
  <body style="background-color:#fff1c6">
  <h1>you search for shells on the beach</h1>
  <img src="assets/shell.gif" alt="shell gif" class = "center" style="width: 160px;height: 160px;"/>

  <div class="start">
   <h2>you marvel at their beauty</h2>
   <p>it feels grecian, their boney ridges</p>
   <p>the product of careless tides</p>
   <p>unintentional patterns of currents</p>
   <p>collect on your towel</p>


        
    <button><a href="fire.html">build a beach bonfire</a></button>
    <button><a href="sport.html">play a sport</a></button>




  </div>
  <script src="scripts.js"></script>
</body>

</html>