<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="soda.css">
</head>

<body>
  <body style="background-color:#3b5e35">
  <h1>you feel pretty dehydrated from your coffee</h1>
  <img src="assets/gdrink.gif" alt="soda gif" class = "center" style="width: 150px;height: 190px;"/>

  <div class="start">
   <h2>you try to ammend this</h2>
   <p>by drinking something else dehydrating, but water based</p>
   <p>you haven't had a sip of real water since '97</p>
   <p>what can you say, you love the bubbles</p>

  <button><a href="collect.html">die from dehydration</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>