<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="soup.css">
</head>

<body>
  <body style="background-color:#ffcccf">
  <h1>yum</h1>
  <img src="assets/soup.gif" alt="tennis gif" class = "center" style="width: 160px;height: 140px;"/>

  <div class="start">
   <h2>you're having some soup</h2>
   <p>you believed hunger was a virtue</p>
   <p>that was when you were young,</p>
  <p>now you believe that moving hands and mouths, stained hankerchiefs,</p>
  <p>and kitchens are holy</p>
    <button><a href="flan.html">have dessert</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>