<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="sport.css">
</head>

<body>
  <body style="background-color:#f4ffb3">
  <h1>a stray ball rolls in</h1>
  <img src="assets/tennis.webp" alt="tennis gif" class = "center" style="width:130px;height: 130px;"/>

  <div class="start">
   <h2>and you have no choice but to play</h2>
   <p>you frolic and rollick</p>
   <p>you run and disport</p>
   <p>you feel like yourself for the first time in a long time</p>

        
    <button><a href="eat.html">eat something</a></button>
    <button><a href="drink.html">drink something</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>