<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="star.css">
</head>

<body>
  <body style="background-color:#333f80">
  <h1>the stars glow</h1>
  <img src="assets/stars.gif" alt="music gif" class = "center" style="width: 240px;height: 200px;"/>

  <div class="start">
   <h2>you follow their light</h2>
   <p>you wonder what makes light so special</p>
   <p>maybe it's how it makes everything around it more beautiful</p>
   <p>or maybe you're just a cat who likes thing that shine</p>
        
  <button><a href="planet.html">rocketship to a planet</a></button>
  <button><a href="meow.html">meow</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>