<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="sun.css">
</head>

<body>
  <body style="background-color:#ffffff">
  <h1>you're enjoying the sun at the beach</h1>
  <img src="assets/beach.gif" alt="beach gif" class = "center" style="width: 305px;height: 180px;"/>

  <div class="start">
   <h2>nice.</h2>
   <p>there's just enough shade under your umbrella/p>
   <p>you begin to fall asleep</p>
   <p>listening to the rolling of the waves</p>


        
    <button><a href="music.html">listen to music</a></button>
    <button><a href="inside.html">go inside</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>