<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="toad.css">
</head>

<body>
  <body style="background-color:#2E2A38">
  <h1>you get by with a little help from your friends</h1>
  <img src="assets/witchfrog.webp" alt="toad gif" class = "center" style="width: 210px;height: 210px;"/>

  <div class="start">
   <h2>toad and otherwise...</h2>
   <p>he recommends you end your quest for magic</p>
   <p>due to the fact you are severly inexperienced</p>
   <p>he offers to cast the spell for you</p>
   <p>so long as you give him a mushroom to sit on</p>
        
    <button><a href="mushroom.html">give the toad a mushroom</a></button>
    <button><a href="dango.html">do NOT give the toad a mushroom</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>