<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="turtle.css">
</head>

<body>
  <body style="background-color:#fcffd6">
  <h1>you move slowly</h1>
  <img src="assets/turtle.webp" alt="turtle gif" class = "center" style="width: 190px;height: 100px;"/>

  <div class="start">
    <h2>and not to be cliché, but also steadily</h2>
    <p>you are on a long journey back home</p>
    <p>the leaves have not yet fallen</p>
    <p>and you know that one sudden day</p>
    <p>they will all be gone</p>

    <button><a href="collect.html">you find a path you like to walk down, you linger there</a></button>
  </div>
  <script src="scripts.js"></script>
</body>

</html>