<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="umbrella.css">
</head>

<body>
  <body style="background-color:#ffffff">
  <h1>it was one of those sunny days</h1>
  <img src="assets/umb.gif" alt="umbrella gif" class = "center" style="width:160px;height: 170px;"/>

  <div class="start">
   <h2>where it begins to pour out of nowhere</h2>
   <p>you see strangers hide under eaves together</p>
   <p>friends and couples huddle and laugh under their umbrellas</p>
   <p>how wonderful and intimate can rain be?</p>        
    <button><a href="turtle.html">move slowly, avoid puddles</a></button>

  </div>
  <script src="scripts.js"></script>
</body>

</html>