<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="witch.css">
</head>

<body>
  <body style="background-color:rgb(52, 32, 46)">
  <h1>you're a witch</h1>
  <img src="assets/witch.gif" alt="witch gif" class = "center" style="width: 160px;height: 160px;"/>

  <div class="start">
   <h2>you stir your cauldron</h2>
   <p>throwing in belladonna, henbane, and mandrake</p>
   <p>you're getting ready to cast a spell</p>
    <p>you don't really know what you're doing but</p>
    <p>you're hoping this works</p>

   <button><a href="roses.html">cast a love spell ✨</a></button>
   <button><a href="bats.html">cast a revenge spell ✨</a></button>





  </div>
  <script src="scripts.js"></script>
</body>

</html>