<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="wreath.css">
</head>

<body>
  <body style="background-color:#130052">
  <h1>memory is absence</h1>
  <img src="assets/wreath.gif" alt="wreath gif" class = "center" style="width: 180px;height: 170px;"/>

  <div class="start">
    <h2>what's come and gone</h2>
    <p>the blurry glow and wonder of childhood</p>
    <p>when snow sparkled like sugar</p>
    <p>watching your life move around you from the backseat</p>
    <p>and even it's lonely and bare moments</p>
    <p>when you didn't have the stomach for it all</p>
    <p>you found a way to move forward</p>
    <button><a href="collect.html">everything that is gone constructs me, and from that i move forward </a></button>
    <button><a href="halloween.html">sing christmas carols with your friends, even though it's halloween</a></button>



  </div>
  <script src="scripts.js"></script>
</body>

</html>