<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">

  <title>hi</title>
  <link rel="stylesheet" href="yin.css">
</head>

<body>
  <body style="background-color: rgb(216, 117, 121)">
  <h1>you seek balance</h1>
  <img src="assets/teafish.gif" alt="music gif" class = "center" style="width: 190px;height: 190px;"/>

  <div class="start">
   <h2>you find yourself in the middle of an ebb and flow</h2>
   <p>a life filled with sensory satisfaction, fulfilling attachments</p>
   <p>but also of honest, genuine, suffering</p>
   <p>you look back, understanding that the seeds of suffering flower into the fruit of love</p>
        
    <button><a href="end.html">reach nirvana</a></button>


  </div>
  <script src="scripts.js"></script>
</body>

</html>